@import '../../variables.scss';

#results-container {
  background-color: #a1d0ca;
  display: flex;

  img {
    width: 35%;
    height: auto;
    align-self: flex-end;
  }

  #results {
    padding-top: 5rem;
    flex: 1;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
    }

    #result-insufficient {
      display: flex;
      justify-content: center;
      gap: 1rem;

      .btn {
        border: none;
        background-color: rgba(0, 0, 0, 0.5);

        span {
          color: #a1d0ca;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }

    .result-header {
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        color: transparent;
        font-style: italic;
        line-height: 2rem;
        letter-spacing: 5px;
        font-size: 3rem;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $maroon;
        word-break: break-all;
      }
    }

    #result-list-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0 1.5rem;
      margin-bottom: 1.5rem;
      height: 100%;
      overflow: auto;

      .result-item {
        @include glass-bg;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        .product-names {
          display: flex;
          flex-direction: column;
          gap: 5px;

          span:first-of-type {
            color: $dark-pink;
          }

          span:nth-of-type(2) {
            color: $choco;
          }

          span {
            word-wrap: break-word;

            svg {
              stroke-width: 1;
            }
          }
        }

        .ingredient-names {
          min-width: 300px;
          width: 300px;
          text-align: end;
          word-wrap: break-word;
        }
      }
    }
  }
}

@media (orientation: portrait) {
  #results-container {
    background: url(../../assets/results-background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    background-color: #a1d0ca;

    img {
      display: none;
    }

    #results {
      h1 {
        font-size: 1.75rem;
      }

      #result-insufficient .btn span {
        font-size: 1.5rem;
      }

      .result-header h2 {
        line-height: 1.5rem;
        font-size: 2.5rem;
      }

      #result-list-container {
        padding: 0 0.75rem;

        .result-item {
          width: 85%;
          align-self: center;

          .ingredient-names {
            min-width: 200px;
            width: 200px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #results-container #results {
    #result-insufficient {
      h1 {
        font-size: 1.5rem;
      }
      .btn span {
        font-size: 1.25rem;
      }
    }

    .result-header h2 {
      line-height: 0.75rem;
      font-size: 1.5rem;
      letter-spacing: 2px;
    }

    #result-list-container .result-item {
      width: 100%;
      align-self: center;

      .ingredient-names {
        min-width: 100px;
        width: 100px;
      }
    }
  }
}

@media (max-width: 300px) {
  #results-container #results {
    #result-insufficient {
      flex-direction: column;
      gap: 0;

      h1 {
        font-size: 1.25rem;
      }

      .btn {
        align-self: center;

        span {
          font-size: 1rem;
        }
      }
    }

    .result-header h2 {
      line-height: 0.5rem;
      font-size: 1.25rem;
      letter-spacing: 1px;
    }

    #result-list-container .result-item {
      width: 100%;
      align-self: center;
      gap: 10px;

      .ingredient-names {
        min-width: 75px;
        width: 75px;
      }
    }
  }
}
