@import '../../variables.scss';

#inventory-container {
  background: url(../../assets/inventory-background.png);
  background-size: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3%;

  form {
    @include glass-bg;
    padding: 1rem;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr 3fr 1fr;

    h1 {
      grid-column: 1 / 3;
      font-size: 1.4rem;
      align-self: center;
      justify-self: center;
      color: $maroon;
    }

    input,
    textarea {
      padding: 2px 5px;
    }

    textarea {
      resize: none;
    }

    button {
      grid-column: 2;
      cursor: pointer;
      width: fit-content;
      padding: 0 2rem;
      justify-self: end;
      border: none;
    }
  }

  #product-scroll-container {
    width: 100%;
    height: 100%;
    display: flex;

    button {
      cursor: pointer;
      width: 10%;
      background: none;
      border: none;
      transition: 500ms;

      &:hover {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.4);
        color: $choco;
      }

      &:disabled {
        opacity: 0;

        &:hover {
          backdrop-filter: none;
          cursor: default;
          background: none;
        }
      }
    }

    #inventory-list-container {
      scroll-behavior: smooth;
      height: 100%;
      align-items: center;
      flex: 1;
      margin: 0 2rem;
      overflow: hidden;
      display: flex;
      gap: 1rem;

      #inventory-product-container {
        @include glass-bg;
        min-width: 300px;
        width: 300px;
        height: 320px;
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 1rem;
          color: $choco;
        }

        h2 {
          font-size: 1.25rem;
          color: $dark-pink;
        }

        p {
          flex: 1;
          overflow-y: auto;
        }

        svg {
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          width: 35px;
          height: 35px;
          padding: 8px;
          border-top-right-radius: 6px;
          border-bottom-left-radius: 6px;
          transition: 500ms;
          color: $maroon;

          &:hover {
            background-color: rgb(223, 100, 100);
            color: $off-white;
          }
        }
      }
    }
  }

  .popout {
    animation: 1s 0s 1 popout;
  }

  #generate-btn {
    @include glass-bg;
    margin-top: 1rem;
    cursor: pointer;
    padding: 5px 1rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s;

    span {
      font-size: 1rem;
      font-weight: 600;
    }

    &:disabled {
      opacity: 0;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
      animation: 5s linear 0s infinite alternate changecolor;
    }
  }
}

@keyframes changecolor {
  0% {
    color: #97d1e6;
  }
  25% {
    color: #c9b5e9;
  }
  50% {
    color: #e1abd7;
  }
  75% {
    color: #98e5a5;
  }
  100% {
    color: #e1e7a5;
  }
}
