@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$main-font: 'Poppins', sans-serif;
$logo-font: 'Lobster';

$off-white: #feffff;
$maroon: #4e3243;
$dark-pink: #fe8a99;
$light-pink: #fdbdd0;
$choco: #7f6256;

@mixin logo-font {
  background: linear-gradient(45deg, $light-pink, $dark-pink);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@mixin glass-bg {
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(5px);
  border-radius: 6px;
}

@keyframes opacityChange {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
